
DATABASE_URL="postgresql://neondb_owner:npg_f2cXw0UoBzIM@ep-empty-cake-at4tycm6.c-9.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require "

NEXTAUTH_SECRET="replace-with-a-random-32-byte-secret"
NEXTAUTH_URL="http://localhost:3000"


COLLAB_JWT_SECRET="replace-with-a-different-random-32-byte-secret"

NEXT_PUBLIC_COLLAB_WS_URL="ws://localhost:1234"
 